.product {
    background-color: rgb(228, 146, 146);
    border: 1px solid red;
    transition: all 1s;
}
@media (max-width: 767px) {
    .product {
        width: 100%;
        max-width: 330px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .product {
        width: 48%;
        max-width: 500px;
    }
}
@media (min-width: 992px) {
    .product {
        width: 31%;
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .product:hover {
        transform: scale(1.2);
        z-index: 2;
    }
}

li {
    color: black;
}
a:hover {
    text-decoration: none;
}

img {

}

.descr {
    height: 5rem;
    overflow: hidden;
}

.filters {
    
}

.searchbar > input {
    width: 83%;
}
.searchbar > button {
    width: 12%;
}

.pagination {
    width: 100%;
}