.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.nav-item *:hover {
    text-decoration: none;
}

.thumbnails i {
    font-size: 23px;
}

.thumbnails {
    position: relative;
    max-width: 30px;
    max-height: 35px;
    overflow: visible;
    transition: all 0.5s;
}
.thumbnails:hover {
    transform: scale(1.2);
}

.basket-info {
    text-decoration: none;
    color: black;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    right: 0;
    margin: 0;
    padding: 0;
}