.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.nav-item *:hover {
    text-decoration: none;
}

.thumbnails i {
    font-size: 23px;
}

.thumbnails {
    position: relative;
    max-width: 30px;
    max-height: 35px;
    overflow: visible;
    transition: all 0.5s;
}
.thumbnails:hover {
    transform: scale(1.2);
}